<table class="table-hover">
  <tr>
    <h1>Voilà la liste des gossip, Enjoy!<h1>
    <div style="text-align:center;">  <%= link_to "J'ajoute mon gossip", gossips_new_path, class: "btn btn-lg btn-primary" %>
    </div></br>
    
    <th>Gossip</th>
    <th>En savoir plus sur ce gossip</th>
  </tr>

  <% @gossips.each do |gossip| %>
    <tr>
        <td style="padding-right:100px;"><%= gossip.content %></td>
        <td><%= link_to 'En savoir plus', gossip_path(gossip.id) %></td>
    </tr>
  <% end %>

</table>